body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-title {
  position: relative;
  margin: 24px auto;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: rgb(64, 64, 64);

  & .title-line {
    position: relative;
    bottom: -2px;
    margin: 0 auto;
    width: 80px;
    height: 6px;
    background-color: #f78432;
    border-radius: 4px;
  }
}

.page-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  color: rgb(64, 64, 64);

  & .title-line {
    position: relative;
    bottom: -2px;
    width: 80%;
    height: 6px;
    background-color: #f78432;
    border-radius: 4px;
  }
}
.category-img {
  margin-bottom: 16px;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.cart-badge {
  position: absolute !important;
  top: -4px !important;
  background-color: #e06811 !important;
  color: white;
}

.text-primary {
  color: #e06811 !important;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #e06811;
  --bs-btn-border-color: #e06811;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c75f14;
  --bs-btn-hover-border-color: #c75f14;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e06811;
  --bs-btn-active-border-color: #e06811;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #e06811;
  --bs-btn-disabled-border-color: #e06811;
}

.btn-outline-primary {
  --bs-btn-color: #e06811;
  --bs-btn-border-color: #e06811;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e06811;
  --bs-btn-hover-border-color: #e06811;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e06811;
  --bs-btn-active-border-color: #e06811;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #e06811;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e06811;
  --bs-gradient: none;
}

.nav-link {
  color: #e06811;
  &:hover {
    color: #c75f14;
  }
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06) !important;
}

.header-text {
  & a {
    color: #232323 !important;
  }
}

.about-content {
  padding-bottom: 72px;
  & h4 {
    margin-top: 22px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #232323;
  }

  & p {
    color: #232323;
  }
}

footer {
  background-color: #e06811;
  color: #ffffff;
  padding: 32px 0;
  & h5 {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 18px;
  }

  & p {
    margin-bottom: 6px;
    font-size: 14px;
  }

  & a {
    text-decoration: none;
    color: #ffffff;
  }
}

.user-info {
  & label {
    font-size: 12px;
    font-weight: 700;
    color: #e06811;
  }

  & p {
    font-size: 16px;
    color: #232323;
  }

  & .user-icon {
    color: #aeaeae;
  }
}

.order-success {
  position: relative;
  margin: 0 auto;
  width: 240px;
  & .dog-img {
    position: relative;
    width: 100%;
    border-radius: 50%;
  }
  & .thank-you {
    position: absolute;
    top: -50px;
    right: -60px;
    width: 150px;
  }
}
